/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background: url('/images/cover-image-dark.png'), var(--background-main-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme_dark {
  --background-main-color: #000028;
  --background-second-color: #FF0070;
  --title-color-effect: #DB00FF;
  --title-color-sub-effect: #FF0070;
  --decorate-color: #FF0070;
  --text-menu-color: #FF0070;
  --text-title-color: #FF0070;
  --text-description-color: #000028;
  --text-subtitle-color: #000028;
  --text-main-color: #F1B2CE;
  --hover-color: #FF0070;
  --camera-point-color: #FF0070;
  --footer-title-sub-low-effect: #FF0070;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    background: url('/images/cover-image-dark.png'), var(--background-main-color);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .theme_auto {
    --background-main-color: #000028;
    --background-second-color: #FF0070;
    --title-color-effect: #DB00FF;
    --title-color-sub-effect: #FF0070;
    --decorate-color: #FF0070;
    --text-menu-color: #FF0070;
    --text-title-color: #FF0070;
    --text-description-color: #000028;
    --text-subtitle-color: #000028;
    --text-main-color: #F1B2CE;
    --hover-color: #FF0070;
    --camera-point-color: #FF0070;
    --footer-title-sub-low-effect: #FF0070;
  }

  .header_rec_point {
    display: block;
  }

  .theme_light>.header>.header_rec_point {
    display: none;
  }
}